<!DOCTYPE html>
    <html><meta charset="utf-8" />
    	<head>
    		<title>Weekly Mean Plan</title>
    		<style>
    			.button {
    				height: 75px;
    				width: 150px;  				
    				background-color: red;
      				border: none;
      				color: white;
      				padding: 20px;
      				text-align: center;
      				text-decoration: none;
      				display: inline-block;
      				font-size: 16px;
      				margin: 4px 4px;
    				}
    		</style>
    	</head>
    	<body>
    		<table class="table table_main" border="5">
     			<tr>
      			 	<td>Sunday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Harissa Honey Chicken</h3></th>
    						</tr>
    						<tr>
    							<td>2 Chicken breasts<br>200g Carrots<br>60g Baby spinach<br>1 Bunch of parsley<br>30g Vegetable demi-glace<br>14g Honey<br>540ml Chickpeas<br>100g Whole wheat couscous<br>15g Harissa<br>12g Red ras el hanout (paprika<br>cumin<br>ginger<br>coriander seeds<br>turmeric<br>cinnamon<br>fennel seed<br>nutmeg<br>cardamom<br>allspice<br>black pepper<br>caraway<br>galangal<br>cloves<br>mace<br>rose petals<br>lavender<br>bay leaf<br>saffron)<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/Harissa-Honey-Chicken'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
     			<tr>
      			 	<td>Monday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Crispy Chicken Thighs with Sesame Kohlrabi Slaw</h3></th>
    						</tr>
    						<tr>
    							<td>4 Chicken thighs<br>200g Carrots<br>100g Shredded red cabbage<br>20g Ginger<br>1 Scallion<br>1 Kohlrabi<br>157g Jasmine rice<br>30ml Stir-fry sauce<br>60ml Mayonnaise<br>18g Cornstarch<br>15ml Toasted sesame oil<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/Crispy-Chicken-Thighs-with-Sesame-Kohlrabi-Slaw'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Tuesday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>BBQ Sweet Sour Shrimp</h3></th>
    						</tr>
    						<tr>
    							<td>285g Shrimp<br>15ml Minced garlic<br>1 Bunch of cilantro<br>1 Lime (or lemon)<br>340g Baby bok choy<br>157g Jasmine rice<br>150g Edamame<br>30ml Soy sauce (low sodium)<br>14g Honey<br>6 Bamboo skewers<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/bbq-sweet-sour-shrimp'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Wednesday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Taiwanese Chicken Bites</h3></th>
    						</tr>
    						<tr>
    							<td>340g Chopped chicken thighs<br>90g Baby spinach<br>2 Garlic cloves<br>225g Yu choy<br>1 Bunch of Thai basil<br>157g Jasmine rice<br>45ml Soy sauce (low sodium)<br>14g Honey<br>18g Cornstarch<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/Taiwanese-Chicken-Bites'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Thursday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Balsamic Glazed Salmon</h3></th>
    						</tr>
    						<tr>
    							<td>2 Salmon fillets<br>140g Cherry tomatoes<br>2 Garlic cloves<br>1 Bunch of basil<br>1 Ear of corn<br>142g Orzo<br>15ml White balsamic vinegar<br>15g Balsamic glaze<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/Balsamic-Glazed-Salmon'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Friday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>You have not selected a recipe for today.</h3></th>
    						</tr>
    						<tr>
    							<td></td>
    						</tr>
    					</table>
                        <a href=''><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Saturday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Tofu Tikka Masala</h3></th>
    						</tr>
    						<tr>
    							<td>140g Cherry tomatoes<br>20g Ginger<br>2 Garlic cloves<br>1 Lime (or lemon)<br>1 Zucchini<br>157g Basmati rice<br>400ml Coconut milk<br>1 Block of tofu (non-GMO)<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/Tofu-Tikka-Masala'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
    		</table>
    	</body>
    </html>