<!DOCTYPE html>
    <html><meta charset="utf-8" />
    	<head>
    		<title>Weekly Mean Plan</title>
    		<style>
    			.button {
    				height: 75px;
    				width: 150px;  				
    				background-color: red;
      				border: none;
      				color: white;
      				padding: 20px;
      				text-align: center;
      				text-decoration: none;
      				display: inline-block;
      				font-size: 16px;
      				margin: 4px 4px;
    				}
    		</style>
    	</head>
    	<body>
    		<table class="table table_main" border="5">
     			<tr>
      			 	<td>Sunday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Grilled Chicken Breasts</h3></th>
    						</tr>
    						<tr>
    							<td>4 Chicken thighs<br>140g Cherry tomatoes<br>1 Bunch of cilantro<br>2 Garlic cloves<br>1 Onion (or shallot)<br>1 Zucchini (green<br>yellow or heirloom)<br>1 Summer squash (or zucchini)<br>160g White rice<br>30ml Red wine vinegar<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/grilled-chicken-thighs-warm-zucchini-salad-1'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
     			<tr>
      			 	<td>Monday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Seared Chicken Thighs</h3></th>
    						</tr>
    						<tr>
    							<td>300g Boneless Chicken Thighs<br>140g Cherry Tomatoes<br>2 Garlic Cloves<br>1 Bunch Tarragon<br>1 Yellow Onion<br>1 Bunch Thyme<br>1 Fennel<br>15ml Sherry Vinegar<br>140g Jasmine Rice<br>40g Sour Cream<br><br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/Seared-Chicken-Thighs'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Tuesday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Middle Eastern-Spiced Ground Beef Platter over Hummus</h3></th>
    						</tr>
    						<tr>
    							<td>250g Ground beef<br>450g Sweet potatoes<br>1 Shallot (or onion)<br>225g Yellow beets<br>1 Bunch of mint<br>15ml Sherry vinegar<br>2 Pita<br>120g Hummus<br>30ml Apple-tahini vinaigrette<br>30g Feta<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/middle-eastern-spicedground-beef-platter-1'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Wednesday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Greek-Style Beef Meatballs</h3></th>
    						</tr>
    						<tr>
    							<td>285g Ground beef<br>2 Garlic cloves<br>1 Bunch of dill<br>2 Cucumbers<br>2 Tomatoes<br>1 Shallot (or onion)<br>15ml Apple cider vinegar<br>30g Vegetable demi-glace<br>165g Multicoloured pearl couscous<br>90g Tzatziki<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/greek-style-beef-meatballswith-tomato-cucumber-salad-3'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Thursday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Seared Indian-Spiced Shrimp Honey-Roasted Vegetables Buttered Quinoa</h3></th>
    						</tr>
    						<tr>
    							<td>285g\\r Shrimp<br>200g\\r Diced beets<br>100g Carrots (orange or multicoloured)<br>200g\\r Diced butternut squash<br>1\\r Lemon<br>95g\\r White quinoa<br>7g\\r Honey<br>43ml\\r Sour cream<br>1 Celery stalk<br>1 Shallot (or onion)<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/seared-indian-spiced-shrimp'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Friday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>You have not requested a recipe for today.</h3></th>
    						</tr>
    						<tr>
    							<td></td>
    						</tr>
    					</table>
                        <a href=''><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Saturday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>Caramelized Onion Baked Cheese Tortellini</h3></th>
    						</tr>
    						<tr>
    							<td>15ml Minced garlic<br>120g Baby greens (lettuce mix<br>baby spinach<br>kale or arugula)<br>90g Sliced radishes<br>1 Bunch of chives (or garlic chives)<br>50g Caramelized onions<br>19g Panko<br>30ml Maple-Dijon vinaigrette<br>350g Fresh three-cheese tortellini (contains lipase)<br>60g Grated cheddar<br>150ml Milk<br>12g Tangy Herbs blend (enriched wheat flour<br>salt<br>paprika<br>garlic<br>onion<br>red bell pepper<br>black pepper<br>sunflower oil<br>oregano<br>parsley<br>chives<br>mustard)<br></td>
    						</tr>
    					</table>
                        <a href='https://www.makegoodfood.ca/en/recipe/caramelized-onionbaked-cheese-tortellini-7'><strong>View Recipe</strong></a>
                    </td>
     			</tr>
    		</table>
    	</body>
    </html>