<!DOCTYPE html>
    <html><meta charset="utf-8" />
    	<head>
    		<title>Weekly Mean Plan</title>
    		<style>
    			.button {
    				height: 75px;
    				width: 150px;  				
    				background-color: red;
      				border: none;
      				color: white;
      				padding: 20px;
      				text-align: center;
      				text-decoration: none;
      				display: inline-block;
      				font-size: 16px;
      				margin: 4px 4px;
    				}
    		</style>
    	</head>
    	<body>
    		<table class="table table_main" border="5">
     			<tr>
      			 	<td>Sunday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{sun_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{sun_ing}}</td>
    						</tr>
    					</table>
                        <a href={{sun_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
     			<tr>
      			 	<td>Monday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{mon_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{mon_ing}}</td>
    						</tr>
    					</table>
                        <a href={{mon_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Tuesday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{tue_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{tue_ing}}</td>
    						</tr>
    					</table>
                        <a href={{tue_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Wednesday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{wed_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{wed_ing}}</td>
    						</tr>
    					</table>
                        <a href={{wed_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Thursday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{thu_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{thu_ing}}</td>
    						</tr>
    					</table>
                        <a href={{thu_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Friday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{fri_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{fri_ing}}</td>
    						</tr>
    					</table>
                        <a href={{fri_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
                 <tr>
      			 	<td>Saturday</td>
      			 	<td>&nbsp;
    					<table class="table table1">
    						<tr>
    							<th><h3>{{sat_meal}}</h3></th>
    						</tr>
    						<tr>
    							<td>{{sat_ing}}</td>
    						</tr>
    					</table>
                        <a href={{sat_link}}><strong>View Recipe</strong></a>
                    </td>
     			</tr>
    		</table>
    	</body>
    </html>